@font-face {
    font-family:'Delicious';
    src:url('delicious-bold-webfont.eot');
    src:url('delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-bold-webfont.woff') format('woff'),
         url('delicious-bold-webfont.ttf') format('truetype'),
         url('delicious-bold-webfont.svg#DeliciousBold') format('svg');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family:'Delicious';
    src:url('delicious-heavy-webfont.eot');
    src:url('delicious-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-heavy-webfont.woff') format('woff'),
         url('delicious-heavy-webfont.ttf') format('truetype'),
         url('delicious-heavy-webfont.svg#DeliciousHeavyRegular') format('svg');
    font-weight:bolder;
    font-style:normal;
}

@font-face {
    font-family:'Delicious';
    src:url('delicious-bolditalic-webfont.eot');
    src:url('delicious-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-bolditalic-webfont.woff') format('woff'),
         url('delicious-bolditalic-webfont.ttf') format('truetype'),
         url('delicious-bolditalic-webfont.svg#DeliciousBoldItalic') format('svg');
    font-weight:bold;
    font-style:italic;
}

@font-face {
    font-family:'Delicious';
    src:url('delicious-italic-webfont.eot');
    src:url('delicious-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-italic-webfont.woff') format('woff'),
         url('delicious-italic-webfont.ttf') format('truetype'),
         url('delicious-italic-webfont.svg#DeliciousItalic') format('svg');
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family:'Delicious';
    src:url('delicious-smallcaps-webfont.eot');
    src:url('delicious-smallcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-smallcaps-webfont.woff') format('woff'),
         url('delicious-smallcaps-webfont.ttf') format('truetype'),
         url('delicious-smallcaps-webfont.svg#DeliciousSmallCapsRegular') format('svg');
    font-weight:normal;
    font-style:normal;
    font-variant:small-caps;
}

@font-face {
    font-family:'Delicious';
    src:url('delicious-roman-webfont.eot');
    src:url('delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('delicious-roman-webfont.woff') format('woff'),
         url('delicious-roman-webfont.ttf') format('truetype'),
         url('delicious-roman-webfont.svg#DeliciousRoman') format('svg');
    font-weight:normal;
    font-style:normal;
}

html { font-size:100.01%; }
body { font-family:'Delicious'; font-size:85%; }
h1, h2, h3, h4, h5, h6 { font-weight:bold; margin-bottom:.25em; }
h1 { font-size:3em; line-height:1; }
h2 { font-size:2.5em; line-height:1; }
h3 { font-size:2em; line-height:1; }
h4 { font-size:1.7em; line-height:1; }
h5 { font-size:1.5em; line-height:1; }
h6 { font-size:1.5em; line-height:1; margin-bottom:0; }