wp-config.php
.htaccess
*~
*swp
.DS*Store
Thumbs.db
base_bkp_last_reset.sql
.project
wp-content/blogs.dir
wp-content/uploads
src/wp-content/uploads/
src/index.html
src/wp-content/plugins/si-captcha-for-wordpress/captcha/temp/
