wp-config.php
.htaccess
*~
*swp
.DS*Store
Thumbs.db
base_bkp_last_reset.sql
.project
wp-content/blogs.dir
wp-content/uploads
src/wp-content/uploads/
src/index.html
src/wp-content/plugins/si-captcha-for-wordpress/captcha/temp
src/wp-content/plugins/si-captcha-for-wordpress/captcha/cache
/nbproject/private/
nbproject/
.buildpath
.settings
src/wp-content/blogs.dir

# WordPress plugins
src/wp-content/plugins/regenerate-thumbnails
src/wp-content/plugins/monster-widget
src/wp-content/plugins/bulk-delete

# Sublime Text project files
*.sublime-project
*.sublime-workspace
