[submodule "wp-scripts"]
	path = wp-scripts
	url = git@git.hacklab.com.br:wp-scripts
[submodule "delibera"]
	path = delibera
	url = https://github.com/ethymos/delibera.git
	branch = master
[submodule "src/wp-content/plugins/contribua"]
	path = src/wp-content/plugins/contribua
	url = https://github.com/redelivre/contribua.git
	branch = master
[submodule "src/wp-content/themes/kaingang"]
	path = src/wp-content/themes/kaingang
	url = git@github.com:redelivre/kaingang.git
	branch = master
[submodule "src/wp-content/themes/guarani"]
	path = src/wp-content/themes/guarani
	url = git@github.com:redelivre/guarani.git
	branch = master
[submodule "src/wp-content/themes/quizumba"]
	path = src/wp-content/themes/quizumba
	url = git@github.com:redelivre/quizumba.git
	branch = master
[submodule "src/wp-content/plugins/wp-opauth"]
	path = src/wp-content/plugins/wp-opauth
	url = git@github.com:redelivre/wp-opauth.git
	branch = master
[submodule "src/wp-content/plugins/wordpress-openid"]
	path = src/wp-content/plugins/wordpress-openid
	url = https://github.com/redelivre/wordpress-openid.git
	branch = anyone
[submodule "src/wp-content/plugins/wordpress-xrds-simple"]
	path = src/wp-content/plugins/wordpress-xrds-simple
	url = https://github.com/diso/wordpress-xrds-simple.git
[submodule "src/wp-content/plugins/rl-busca-avancada"]
	path = src/wp-content/plugins/rl-busca-avancada
	url = git@github.com:redelivre/rl-busca-avancada.git
	branch = master
[submodule "src/wp-content/plugins/qr-pdf"]
	path = src/wp-content/plugins/qr-pdf
	url = https://github.com/redelivre/qr-pdf.git
	branch = master
[submodule "src/wp-content/themes/minka"]
	path = src/wp-content/themes/minka
	url = git@github.com:redelivre/minka.git
