[submodule "src/wp-content/plugins/contribua"]
	path = src/wp-content/plugins/contribua
	url = https://github.com/redelivre/contribua.git
	branch = master
[submodule "src/wp-content/themes/kaingang"]
	path = src/wp-content/themes/kaingang
	url = git@github.com:redelivre/kaingang.git
	branch = master
[submodule "src/wp-content/themes/guarani"]
	path = src/wp-content/themes/guarani
	url = git@github.com:redelivre/guarani.git
	branch = master
[submodule "src/wp-content/themes/quizumba"]
	path = src/wp-content/themes/quizumba
	url = git@github.com:redelivre/quizumba.git
	branch = master
[submodule "src/wp-content/plugins/wp-opauth"]
	path = src/wp-content/plugins/wp-opauth
	url = git@github.com:redelivre/wp-opauth.git
	branch = master
[submodule "src/wp-content/plugins/wordpress-openid"]
	path = src/wp-content/plugins/wordpress-openid
	url = https://github.com/redelivre/wordpress-openid.git
	branch = anyone
[submodule "src/wp-content/plugins/wordpress-xrds-simple"]
	path = src/wp-content/plugins/wordpress-xrds-simple
	url = https://github.com/diso/wordpress-xrds-simple.git
[submodule "src/wp-content/plugins/rl-busca-avancada"]
	path = src/wp-content/plugins/rl-busca-avancada
	url = git@github.com:redelivre/rl-busca-avancada.git
	branch = master
[submodule "src/wp-content/plugins/qr-pdf"]
	path = src/wp-content/plugins/qr-pdf
	url = https://github.com/redelivre/qr-pdf.git
	branch = master
[submodule "src/wp-content/themes/minka"]
	path = src/wp-content/themes/minka
	url = git@github.com:redelivre/minka.git
	branch = master
[submodule "src/wp-content/themes/folia"]
	path = src/wp-content/themes/folia
	url = git@github.com:redelivre/folia.git
	branch = master
[submodule "src/wp-content/plugins/mapasdevista"]
	path = src/wp-content/plugins/mapasdevista
	url = git@github.com:redelivre/mapasdevista.git
	branch = redelivre
[submodule "src/wp-content/plugins/jaiminho"]
	path = src/wp-content/plugins/jaiminho
	url = git@github.com:ethymos/sendpress.git
	branch = master
[submodule "src/wp-content/themes/mobilize"]
	path = src/wp-content/themes/mobilize
	url = git@github.com:redelivre/mobilize.git
	branch = master

[submodule "src/wp-content/themes/pontosdecultura"]
	path = src/wp-content/themes/pontosdecultura
	url = git@github.com:redelivre/pontosdecultura.git
[submodule "src/wp-content/plugins/post-format-gallery-widget"]
	path = src/wp-content/plugins/post-format-gallery-widget
	url = git@github.com:redelivre/post-format-gallery-widget.git
[submodule "src/wp-content/themes/educacaopopular"]
	path = src/wp-content/themes/educacaopopular
	url = git@github.com:redelivre/educacaopopular.git
[submodule "src/wp-content/themes/recid"]
	path = src/wp-content/themes/recid
	url = git@github.com:redelivre/pontosdecultura.git
	branch = recid
[submodule "src/wp-content/plugins/fg-joomla-to-wordpress-premium"]
	path = src/wp-content/plugins/fg-joomla-to-wordpress-premium
	url = git@gitlab.ethymos.com.br:ethymos/fg-joomla-to-wordpress-premium.git
	branch = master
[submodule "src/wp-content/plugins/fg-joomla-to-wordpress-premium-k2-module"]
	path = src/wp-content/plugins/fg-joomla-to-wordpress-premium-k2-module
	url = git@gitlab.ethymos.com.br:ethymos/fg-joomla-to-wordpress-premium-k2-module.git
	branch = master
[submodule "src/wp-content/plugins/sitepress-multilingual-cms"]
	path = src/wp-content/plugins/sitepress-multilingual-cms
	url = git@gitlab.ethymos.com.br:ethymos/sitepress-multilingual-cms.git
	branch = master
[submodule "src/wp-content/plugins/wpml-cms-nav"]
	path = src/wp-content/plugins/wpml-cms-nav
	url = git@gitlab.ethymos.com.br:ethymos/wpml-cms-nav.git
	branch = master
[submodule "src/wp-content/plugins/wpml-media"]
	path = src/wp-content/plugins/wpml-media
	url = git@gitlab.ethymos.com.br:ethymos/wpml-media.git
	branch = master
[submodule "src/wp-content/plugins/wpml-sticky-links"]
	path = src/wp-content/plugins/wpml-sticky-links
	url = git@gitlab.ethymos.com.br:ethymos/wpml-sticky-links.git
	branch = master
[submodule "src/wp-content/themes/flacso"]
	path = src/wp-content/themes/flacso
	url = git@github.com:redelivre/flacso.git
[submodule "src/wp-content/plugins/delibera"]
	path = src/wp-content/plugins/delibera
	url = git@github.com:redelivre/delibera.git
[submodule "src/wp-content/plugins/jaiminho-sms"]
	path = src/wp-content/plugins/jaiminho-sms
	url = git@github.com:ethymos/jaiminho-sms.git
[submodule "src/wp-content/themes/meth"]
	path = src/wp-content/themes/meth
	url = git@gitlab.ethymos.com.br:ethymos/meth.git
	branch = master
[submodule "src/wp-content/themes/praticas-de-continuidade"]
	path = src/wp-content/themes/praticas-de-continuidade
	url = git@github.com:redelivre/pontosdecultura.git
	branch = praticas-de-continuidade
[submodule "src/wp-content/themes/fluxo"]
	path = src/wp-content/themes/fluxo
	url = git@github.com:redelivre/fluxo.git
	branch = master

[submodule "src/wp-content/plugins/joomla-to-wordpress-joomdoc"]
	path = src/wp-content/plugins/joomla-to-wordpress-joomdoc
	url = git@gitlab.ethymos.com.br:ethymos/joomla-to-wordpress-joomdoc.git
	branch = master
[submodule "src/wp-content/themes/voice"]
	path = src/wp-content/themes/voice
	url = git@gitlab.ethymos.com.br:ethymos/voice.git
	branch = master
[submodule "src/wp-content/themes/voice-child"]
	path = src/wp-content/themes/voice-child
	url = git@gitlab.ethymos.com.br:ethymos/voice-child.git
	branch = master
[submodule "src/wp-content/themes/observatorio-de-remocoes"]
	path = src/wp-content/themes/observatorio-de-remocoes
	url = git@github.com:redelivre/pontosdecultura.git
	branch = observatorio-de-remocoes
[submodule "src/wp-content/plugins/wp-aedes-aegypti"]
	path = src/wp-content/plugins/wp-aedes-aegypti
	url = git@github.com:redelivre/wp-aedes-aegypti.git
