div.lostpassword_form_action p label input {
	width: 36% !important;
	min-width: 70px;
	background: none repeat scroll 0 0 #F4F0E6 !important;
    border: 1px solid #F4F0E6 !important;
    border-radius: 3px 3px 3px 3px !important;;
    color: #666666 !important;
    margin-left: 30px;
}
div.lostpassword_form_action p label br {
	display: none;
}
div.lostpassword_form_action p {
	width: 240px;
}
div.lostpassword_form_action br {
	display: none;
}