div.lostpassword_form_action p label input {
	width: 36% !important;
	min-width: 70px;
    margin-left: 30px;
}
div.lostpassword_form_action p label br {
	display: none;
}
div.lostpassword_form_action p {
	width: 240px;
}
div.lostpassword_form_action br {
	display: none;
}
#pass-strength-result {
	font-weight: bold;
}

#pass-strength-result.bad
{
	color: #b27d0b;
}

#pass-strength-result.short
{
	color: #9b1b1b;
}

#pass-strength-result.strong
{
	color: #09680b
}
