		.container-registro { background-color: #fff; display:block; width: 100%; margin: 0 auto; }
		.container-registro .titulo { background: #404040; color: #fff; }
		.container-registro .titulo h1 { color: #fff; font-weight: normal; padding: 10px; font-size: 20px; }
		
		#custom-register-resposta { width: 100%; text-align: center; }
		#custom-register-resposta .resposta-erro,
		#custom-register-resposta .resposta-sucesso { text-align: center; clear:both; margin: 15px 0 0 0; width: 100%; }
		
		#custom-register-resposta .resposta-sucesso { background: #d8fce5; border: 1px solid #e3d89e; }
		#custom-register-resposta .resposta-erro { background: #fce8d8; border: 1px solid #e3d89e; }
		#custom-register-resposta .resposta-erro li { list-style:none; }
		#registerform { display: table; margin:0; }
		#registerform .input { width: 300px; border-radius: 5px; background: #fff; border: 1px solid #ccc; padding: 7px; }		
		#registerform { padding: 0 0 0 50px; }
