/* =Mobilize
-------------------------------------------------------------- */
#mobilize-content { margin: 0 auto; padding: 22px 20px 44px; }
.mobilize-widget { margin-bottom: 22px; padding-bottom: 21px; border-bottom: 1px solid #ccc; }
#mobilize-banners img { display: block; }
.mobilize-banners { float: left; width: 33.3333%; text-align: center; }
.banner-250 img { margin: 0 auto 22px !important; }
.banner-200 img { margin: 25px auto 47px !important; }
.banner-125 img { margin: 63px auto 84px !important; }
.code { background: #f1f1f1 !important; border: 1px solid #ccc !important; font-family: "Courier New", monospace !important; font-size: 12px !important; color: #666 !important; word-break: break-all !important; }
textarea.code { height: 66px; padding: 10px; width: 88%; }
input.code { width: 90%; }
#mobilize-sticker p { float: left; }
.sticked-avatar { position: relative; float: left; height: 80px; width: 80px; margin: 0 10px; }
img.sticker { position: absolute; right: 0; bottom: 0; max-width: 80px; max-height: 80px; }
#mobilize-sendto-form input[type="text"], #mobilize-sendto-form input[type="email"], #mobilize-sendto-form textarea { width: 90%; margin: 0 0 10px; }
#mobilize-sendto-form textarea { height: 206px; }
#standard-message { float: left; width: 50%; }
#standard-message div { overflow-y: scroll; max-height: 506px; min-height: 383px; margin: 0 9px; padding: 10px; background: #f1f1f1; border: 1px solid #ccc; font-size: 12px; color: #666; }
#mobilize-sendto-form { float: left; width: 50%; }
#mobilize-sendto-form p, #mobilize-sendto-form form { margin-left: 10px; margin-right: 10px; }
.fb-like, .google-mala, .twitter-share-button { float: left; }
.fb-like { width: 360px !important; }
.google-mala { width: 180px !important; margin: 0 10px; padding: 0 10px; border-left: 1px dotted #ccc; border-right: 1px dotted #ccc; }
.twitter-share-button { width: 100px !important; }
