html { font-size:100.01%; }
body { font-family:Times, "Times New Roman", serif; font-size:100%; }
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
h1 { font-size:3em; line-height:1; }
h2 { font-size:2.5em; line-height:1; }
h3 { font-size:2em; line-height:1; }
h4 { font-size:1.7em; line-height:1; }
h5 { font-size:1.5em; line-height:1; }
h6 { font-size:1.5em; line-height:1; margin-bottom:0; }

nav.main_menu_2 ul li { padding:0 !important; }
nav.main_menu_2 ul.sub-menu { top:2.6em !important; width:14em !important; }
nav.main_menu_2 ul.sub-menu ul.sub-menu { left:14.1em !important; top:-.5em !important; }
nav.main_menu_2 ul a { font-family:Times, "Times New Roman", serif; font-size:1.5em !important; padding:0 1.5em !important; }
nav.main_menu_2 ul ul a { font-size:1.2em !important; }

header#branding hgroup { padding:1em 2em !important; }
header#branding hgroup h1 { font-size:4em !important; }
