html { font-size:100.01%; }
body { font-family:Helvetica, Arial, Verdana, Sans-serif; font-size:85%; }
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
h1 { font-size:3em; line-height:1; }
h2 { font-size:2.5em; line-height:1; }
h3 { font-size:2em; line-height:1; }
h4 { font-size:1.7em; line-height:1; }
h5 { font-size:1.5em; line-height:1; }
h6 { font-size:1.5em; line-height:1; margin-bottom:0; }