#main-menu-search-social-bookmarks { margin-bottom:1em; margin-top:1em; }
nav.main_menu_1 { margin-bottom:1em; }
nav.main_menu_1 ul { list-style:none; margin:0; padding:0; background:white; }
nav.main_menu_1 ul li { display:block; float:left; margin:0; padding:0 .5em; position:relative; }
nav.main_menu_1 ul li:first-child { padding-left:0; }
nav.main_menu_1 ul li:last-child { padding-right:0; }
nav.main_menu_1 ul.sub-menu { display:none; position:absolute; margin:0; padding:0; width:8em; }
nav.main_menu_1 ul.sub-menu li { float:none; margin:0; padding:0; position:relative; }
nav.main_menu_1 ul.sub-menu ul.sub-menu { display:none; float:left; left:8em; position:absolute; top:0; }
nav.main_menu_1 ul li:hover ul.sub-menu { display:block; }
nav.main_menu_1 ul li:hover ul.sub-menu ul.sub-menu { display:none; }
nav.main_menu_1 ul li ul.sub-menu li:hover ul.sub-menu { display:block; }
nav.main_menu_1 a { font-size:.8em; font-weight:bold; text-decoration:none; text-transform:uppercase; }

nav.main_menu_1 ul li { border-color:#333; }
nav.main_menu_1 a { color:#333; }
nav.main_menu_1 a:hover { color:#d40000; }
