/* =Menus
-------------------------------------------------------------- */
nav.main_menu_2 ul { list-style:none; margin:0; padding:0; }
nav.main_menu_2 ul li { border-style:solid; border-width:0 0 .1em 0; display:block; float:left; margin:0 .1em 0 0; padding:0 1em; position:relative; }
nav.main_menu_2 ul li:first-child { border-radius:.3em 0 0 0; margin-left:0; }
nav.main_menu_2 ul li:last-child { border-radius:0 .3em 0 0; margin-right:0; }
nav.main_menu_2 ul.sub-menu { display:none; left:0; margin:0; padding:.5em 0; position:absolute; top:1.4em; width:10em; }
nav.main_menu_2 ul.sub-menu li { border-radius:0; float:none; margin:0; position:relative; }
nav.main_menu_2 ul.sub-menu ul.sub-menu { display:none; float:left; left:10em; position:absolute; top:-.5em; }
nav.main_menu_2 ul li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li:hover ul.sub-menu ul.sub-menu { display:none; }
nav.main_menu_2 ul li ul.sub-menu li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li a { font-size:.9em; line-height:2; padding:0 .3em; text-align:left; text-decoration:none; }

nav.main_menu_2 a { color:#333; }
nav.main_menu_2 a:visited { color:#333; }

nav.main_menu_2 li { 
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	border-color:#ccc; 
}

nav.main_menu_2 li:hover {
	background: #bebebe; /* Old browsers */
	background: -moz-linear-gradient(top,  #bebebe 0%, #b8b8b8 50%, #b0b0b0 51%, #c5c5c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(50%,#b8b8b8), color-stop(51%,#b0b0b0), color-stop(100%,#c5c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bebebe 0%,#b8b8b8 50%,#b0b0b0 51%,#c5c5c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bebebe 0%,#b8b8b8 50%,#b0b0b0 51%,#c5c5c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bebebe 0%,#b8b8b8 50%,#b0b0b0 51%,#c5c5c5 100%); /* IE10+ */
	background: linear-gradient(top,  #bebebe 0%,#b8b8b8 50%,#b0b0b0 51%,#c5c5c5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#c5c5c5',GradientType=0 ); /* IE6-9 */
}