nav.main_menu_2 { margin-top:.1em; }
nav.main_menu_2 ul { list-style:none; margin:0; padding:0; }
nav.main_menu_2 ul li { border-right:1px solid #fff; display:block; float:left; margin:0 .1em 0 0; padding:.3em 1.5em; position:relative; }
nav.main_menu_2 ul li:first-child { margin-left:0; }
nav.main_menu_2 ul li:last-child { margin-right:0; }
nav.main_menu_2 ul.sub-menu { display:none; left:0; margin:0; padding:.5em 0; position:absolute; top:2.2em; width:12em; }
nav.main_menu_2 ul.sub-menu li { border:none; float:none; margin:0 0 .1em 0; position:relative; }
nav.main_menu_2 ul.sub-menu ul.sub-menu { display:none; float:left; left:12.1em; position:absolute; top:-.5em; }
nav.main_menu_2 ul li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li:hover ul.sub-menu ul.sub-menu { display:none; }
nav.main_menu_2 ul li ul.sub-menu li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li a { font-size:1em; font-weight:bold; line-height:2; padding:0 .3em; text-align:left; text-decoration:none; }
nav.main_menu_2 ul ul a { font-size:.9em; }


nav.main_menu_2 {
background:#d40000 -moz-linear-gradient(top,  rgba(191,191,191,0.2) 0%, rgba(185,185,185,0.2) 50%, rgba(102,102,102,0.2) 51%, rgba(198,198,198,0.2) 100%); /* FF3.6+ */
background:#d40000 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,0.2)), color-stop(50%,rgba(185,185,185,0.2)), color-stop(51%,rgba(102,102,102,0.2)), color-stop(100%,rgba(198,198,198,0.2))); /* Chrome,Safari4+ */
background:#d40000 -webkit-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* Chrome10+,Safari5.1+ */
background:#d40000 -o-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* Opera 11.10+ */
background:#d40000 -ms-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* IE10+ */
background:#d40000 linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bfbfbf', endColorstr='#33c6c6c6',GradientType=0 ); /* IE6-9 */
}
nav.main_menu_2 ul.sub-menu li { background:#d40000; }
nav.main_menu_2 ul.sub-menu li:hover {
background:#d40000 -moz-linear-gradient(top,  rgba(191,191,191,0.2) 0%, rgba(185,185,185,0.2) 50%, rgba(102,102,102,0.2) 51%, rgba(198,198,198,0.2) 100%); /* FF3.6+ */
background:#d40000 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,0.2)), color-stop(50%,rgba(185,185,185,0.2)), color-stop(51%,rgba(102,102,102,0.2)), color-stop(100%,rgba(198,198,198,0.2))); /* Chrome,Safari4+ */
background:#d40000 -webkit-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* Chrome10+,Safari5.1+ */
background:#d40000 -o-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* Opera 11.10+ */
background:#d40000 -ms-linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* IE10+ */
background:#d40000 linear-gradient(top,  rgba(191,191,191,0.2) 0%,rgba(185,185,185,0.2) 50%,rgba(102,102,102,0.2) 51%,rgba(198,198,198,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bfbfbf', endColorstr='#33c6c6c6',GradientType=0 ); /* IE6-9 */	
}

nav.main_menu_2 a { color:#fff; }