nav.main_menu_2 ul { list-style:none; margin:.1em 0 0; padding:0; }
nav.main_menu_2 ul li { display:block; float:left; margin:0 .1em 0 0; padding:.3em 1.5em; position:relative; }
nav.main_menu_2 ul li:first-child { margin-left:0; }
nav.main_menu_2 ul li:last-child { margin-right:0; }
nav.main_menu_2 ul.sub-menu { display:none; left:0; margin:0; padding:.5em 0; position:absolute; top:2.2em; width:12em; }
nav.main_menu_2 ul.sub-menu li { float:none; margin:0 0 .1em 0; position:relative; }
nav.main_menu_2 ul.sub-menu ul.sub-menu { display:none; float:left; left:12.1em; position:absolute; top:-.5em; }
nav.main_menu_2 ul li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li:hover ul.sub-menu ul.sub-menu { display:none; }
nav.main_menu_2 ul li ul.sub-menu li:hover ul.sub-menu { display:block; }
nav.main_menu_2 ul li a { font-size:1em; font-weight:bold; line-height:2; padding:0 .3em; text-align:left; text-decoration:none; }
nav.main_menu_2 ul ul a { font-size:.9em; }


nav.main_menu_2 {
	background:#eee -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background:#eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background:#eee -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background:#eee -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background:#eee -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background:#eee linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}