/*
Theme Name: Blog 01 Azul
Theme URI: http://redelivre.org
Description: Tema para candidatos que gostam do formato Blog, com opção de sidebar diferente na home e nas páginas internas.
Author: Rede Livre
Template: blog-01
Version: 1.0
*/

@import url(../blog-01/style.css);

a { color: #039; text-decoration: none; }
a:active, a:hover {	color: #006; }


/* =Menu
-------------------------------------------------------------- */
#menubar { background: #039; border-bottom: 1px solid #006; }
#main-nav li { border-right: 1px solid #69c; background: #039; }
#main-nav .sub-menu li { border-bottom: 1px solid #69c; }
#main-nav ul { border-top: 1px solid #69c; }
#main-nav li:first-child a { border-left: 1px solid #69c; }
#main-nav a { border-right: 1px solid #006; border-bottom: 1px solid #006; }
#main-nav a:hover, #main-nav li.current-menu-item>a, #main-nav li.current-menu-ancestor>a, #main-nav li.current-menu-parent>a, #main-nav li.current_page_item>a { background: #006; }
#main-nav ul a { border-left: 1px solid #69c; }
#feed-link { border-left: 1px solid #006; }
#feed-link a { border-right: 1px solid #69c; border-left: 1px solid #69c; }
#feed-link img { border-right: 1px solid #006; border-bottom: 1px solid #006; }


/* =Post
-------------------------------------------------------------- */
.post-meta a { border-bottom: 1px dotted #039; }
.post-meta a:hover { border-bottom: 1px solid #006; }


/* =Comments
-------------------------------------------------------------- */
#form-comentario #comentar, #cancel-comment-reply-link { background: #039; border: 1px solid #69c; border-bottom: 1px solid #006; border-right: 1px solid #006; }
#form-comentario #comentar:hover, #cancel-comment-reply-link:hover { background: #006; }

/* =Mobilize
-------------------------------------------------------------- */
.mobilize-button, #contact-submit { background-color: #039; border: 1px solid #69c; border-bottom: 1px solid #006; border-right: 1px solid #006; }
.mobilize-button:hover, #contact-submit:hover { background-color: #006; }
