@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic);

body {
	color: #666;
	font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 100%;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.625em;
	max-width: 648px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}