/*
 * Scheme: Clean
 * Author: Thalita Sejanes
 *
 * Pallete 			http://www.colourlovers.com/palette/2740166/Clean
 *
 * Red #1 			#c91f32 Links
 * Red #2			#e55868 Hover links
 * Red #3			#ba1d2e Visited links
 * Gray #1 			#464646 Titles
 * Gray #2			#e1e1e1 Caixas (Variations: #ececec, #f4f4f4, #fbfbfb)
 */


/* =Global
-------------------------------------------------------------- */

body {
	background: #e1ead4 url('../../images/schemes/pattern-clean.png') repeat;
}

/* Links */
a {
	color: #c91f32;
}

a:visited {
	color: #ba1d2e;
}

a:hover,
a:focus,
a:active {
	color: #e55868;
}

/* Placeholders */
input::-webkit-input-placeholder {
	color: #464646;
}

input:-moz-placeholder {
	color: #464646;
}

input::-moz-placeholder {
	color: #464646;
}

input:-ms-input-placeholder {
	color: #464646;
}

input[type="text"],
input[type="email"],
textarea,
#searchform #s,
.highlights .slide,
.archive-header,
.member-contact,
.single footer.entry-meta,
.mobilize-widget h6,
.commentlist > .comment.odd {
	background: #fbfbfb;
}

.main-navigation .menu > .menu-item > a,
.highlights .slide,
.archive-header,
input[type="text"],
input[type="email"],
textarea,
.commentlist > .comment.even {
	border-color: #f4f4f4;
}


.main-navigation .menu > .menu-item > a:hover,
.main-navigation .menu > .current_page_item > a,
.main-navigation .menu > .current-menu-parent > a {
	border-bottom-color: #c91f32;
}

.main-navigation ul ul a:hover:after {
	color: #c91f32;
}

.entry-share {
	background: #f4f4f4;
}

.eletro_widgets_content.widget_guarani_custom_posts .entry-title {
	background: #c2c2c2;
}

.eletro_widgets_content.widget_guarani_custom_posts article .entry-content,
.widget_calendar #wp-calendar caption {
	background: #e1e1e1;
}

.eletro_widgets_content.widget_guarani_custom_posts figure {
	background: #464646;
}

.eletro_widgets_content.widget_guarani_custom_posts a .entry-title,
h1, h2, h3, h4, h5, h6,
.archive-item h3,
.archive-title,
.widget-title,
.mobilize-widget h6 {
	color: #464646;
}

/* =Header
-------------------------------------------------------------- */

.main-navigation li.current_page_item a {
	border-bottom: 2px solid #589d8f;
}


/* =Content
-------------------------------------------------------------- */

.single .entry-title a,
.page .entry-title,
#mobilize-content h1 {
	color: #c91f32;
}

.more-link {
	color: #4d99a6;
}

/* Extras */
.wp-tag-cloud li a {
	background: #f9fbf6;
	border: 1px solid #f1f5eb;
}


/* =Asides
-------------------------------------------------------------- */

#secondary .widget-container {
	background: #f4f4f4;
	color: #585858;
}

#secondary .widget_recent_entries ul li,
#secondary .widget_rss ul li,
#secondary .widget_guarani_custom_posts ul li {
	border-color: #e3e3e3;
}

#tertiary {
	background: #e1e1e1;
	border-bottom: 3px solid #ececec;
	border-top: 3px solid #c2c2c2;
}

#tertiary .widget_recent_entries ul li,
#tertiary .widget_rss ul li,
#tertiary .widget_guarani_custom_posts ul li {
	border-color: #d0d0d0;
}


/* =Footer
-------------------------------------------------------------- */

.widget-footer {
	background: #e1ead4;
}

/* =Media Screen
-------------------------------------------------------------- */

@media only screen and (min-width: 920px) {
	
	
}