/*
 * Scheme: Eco
 * Author: Thalita Sejanes
 *
 * Paleta 			http://www.colourlovers.com/palette/2674174/Eco
 *
 * Green #1 		#589d8f Links
 * Green #2 		#699328 Titles
 * Green #3			#e1ead4 Caixas (Variações: #f9fbf6, #f1f5eb)
 * Gray #1			#464646
 */


/* =Global
-------------------------------------------------------------- */


/* Links */
a,
.eletro_widgets_content.widget_guarani_custom_posts a:hover .entry-title,
blockquote cite {
	color: #589d8f;
}

a:hover,
a:focus,
a:active {
	color: #567821;
}

/* Placeholders */
input::-webkit-input-placeholder {
	color: #699328;
}

input:-moz-placeholder {
	color: #699328;
}

input::-moz-placeholder {
	color: #699328;
}

input:-ms-input-placeholder {
	color: #699328;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: 1px solid #467c71;
	background: #589d8f;
}

input[type="text"],
input[type="email"],
textarea,
#searchform #s,
.highlights .slide,
.archive-header,
.member-contact,
.single footer.entry-meta,
.mobilize-widget h6,
.commentlist > .comment.odd,
#secondary .widget-container,
.eletro_widgets_content.widget_guarani_custom_posts article .entry-content,
.widget_calendar #wp-calendar caption {
	background: #f9fbf6;
}

.main-navigation .menu > .menu-item > a,
.highlights .slide,
.archive-header,
input[type="text"],
input[type="email"],
textarea,
.commentlist > .comment.even {
	border-color: #f4f4f4;
}


.main-navigation .menu > .menu-item > a:hover,
.main-navigation .menu > .current_page_item > a,
.main-navigation .menu > .current-menu-parent > a {
	border-bottom-color: #589d8f;
}

.main-navigation ul ul a:hover:after {
	color: #c91f32;
}

.entry-share {
	background: #f4f4f4;
}

.eletro_widgets_content.widget_guarani_custom_posts .entry-title,
.eletro_widgets_content.widget_guarani_custom_posts > h2 a,
#tertiary,
.widget-footer {
	background: #e1ead4;
}

.eletro_widgets_content.widget_guarani_custom_posts figure {
	background: #464646;
}

.eletro_widgets_content.widget_guarani_custom_posts a .entry-title,
h1, h2, h3, h4, h5, h6,
.archive-item h3,
.archive-title,
.widget-title,
.mobilize-widget h6 {
	color: #464646;
}

.widget_agenda .all,
.WidgetAgenda .all {
	background: #589d8f;
}

.single .entry-title a,
.page .entry-title,
#mobilize-content h1,
.entry-meta [class^="icon-"],
.entry-meta [class*=" icon-"] {
	color: #699328;
}

.more-link {
	color: #4d99a6;
}

.wp-tag-cloud li a {
	background: #f9fbf6;
	border: 1px solid #f1f5eb;
}


#secondary .widget_recent_entries ul li,
#secondary .widget_rss ul li,
#secondary .widget_guarani_custom_posts ul li {
	border-color: #e3e3e3;
}

#tertiary {
	border-bottom: 3px solid #f1f5eb; 
	border-top: 3px solid #699328;
}

#tertiary .widget_recent_entries ul li,
#tertiary .widget_rss ul li,
#tertiary .widget_guarani_custom_posts ul li {
	border-color: #d0d0d0;
}